/app/class/*
/app/controllers/*
/app/entities/*
/app/helpers/*
/app/librairies/*
/app/logs/*
/app/models/*
/app/resources/_antibruteforce/*
/app/lang/fr/*
/app/lang/en/*
/app/migrations/*
/app/.classmap.php
/app/views/partials/*
/app/views/reserved/cache/*
/app/views/reserved/compiles/*
/app/views/reserved/conf/*
/public/css/*
/public/docs/*
/public/font/*
/public/img/*
/public/js/*
/public/less/*
/public/lib/*
/public/videos/*